<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main_list">
        <h1><a href="/signup" style="text-decoration:none; color:inherit">Registration</a></h1>
        
        <div class="auth">

            <form action="/signup" method="POST" target="_self">

                <div class="input_div"><input class="input_auth" type="text" id="name" name="username" placeholder="Username"></div>
            
                <div class="input_div"> <input class="input_auth" type="text" id="email" name="email" placeholder="Email"></div>
            
                <div class="input_div"><input class="input_auth" type="password" id="password" name="password" placeholder="Password"></div>
               
                <div class="input_div"><input class="input_auth" type="password" id="password2" name="password2" placeholder="Repeat Password"></div>
               
                <div class="input_buttons">
                    <button class="button" type="submit" value="Submit">SIGN UP</button>
                    <a class="button" href="/" style="text-decoration:none;">MAIN</a>
                </div>
            </form>
        
        </div>
    </div>
    <div class="Arigato" title="Arigato : )">
        ありがとう
    </div>
</body>
</html>